flask
flask-cors
psycopg2-binary
google-generativeai
python-dotenv
numpy
requests
langchain
langchain-community
langchain-huggingface
langchain-postgres
sentence-transformers
torch
transformers
PyMuPDF
Werkzeug
Jinja2
urllib3>=2.0.0